/* ==========================================================================
   My custom styles
   ========================================================================== */
body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar {
	opacity: 0.8;
}

.contact-buttons {
	font-size: 25px;
}

.thumbnail-buttons {
	font-size: 20px;
}
